@model ProjectX.Entities.Models.Package.PackGetResp
@{
    var filldata = ViewData["filldata"] as ProjectX.Entities.Models.General.LoadDataResp;
}


<div class="content" pgtype="view">
    <div class="container-fluid" style="padding:10px 0">
        <div class="row mb-3">
            <div class="col-md-12 ">
                <div class="card h-100 ">
                    <div class="card-body">
                        <h4 class="card-title ">
                            <i class="fa fa-arrow-alt-circle-left pointercursor" onclick="history.back()"></i>
                             <span>New Package</span>
                        </h4>
                        <hr />
						<div class="row">
							<div id="divinfo" class="col-lg-12">
								<div class="row">
									<div class="form-group mb-3 col-lg-4">
										<label for="name">Name</label>
										<input type="text" class="form-control" id="name" name="name" required>
									</div>

									<div class="form-group mb-3 col-lg-4">
										<label for="product_id">Product</label>
										<select class="form-control" id="product_id" name="product_id" required>
											<option value="1">Product A</option>
											<option value="2">Product B</option>
											<option value="3">Product C</option>
										</select>
									</div>

									<div class="form-group mb-3 col-lg-4">
										<label for="zone_id">Zone</label>
										<select class="form-control" id="zone_id" name="zone_id" required>
											<option value="1">Zone 1</option>
											<option value="2">Zone 2</option>
											<option value="3">Zone 3</option>
										</select>
									</div>

									<div class="form-group mb-3 col-lg-4">
										<label for="remove_deductible">Remove Deductible</label>
										<input type="number" class="form-control" id="remove_deductible" name="remove_deductible">
									</div>

									<div class="form-group mb-3 col-lg-4">
										<label for="adult_no">Adult No</label>
										<input type="number" class="form-control" id="adult_no" name="adult_no">
									</div>

									<div class="form-group mb-3 col-lg-4">
										<label for="children_no">Children No</label>
										<input type="number" class="form-control" id="children_no" name="children_no">
									</div>

									<div class="form-group mb-3 col-lg-4">
										<div class="form-group mb-0">
											<div class="form-check">
												<input class="form-check-input" type="checkbox" id="pa_included" autocomplete="off">
												<label class="form-check-label" for="pa_included">
													PA Included
												</label>
											</div>
										</div>
									</div>
								</div>
							</div>

							
						</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card card-body">
                    <div class="row">
                        <div class="col-lg-8">
                        </div>
                        <div class="col-lg-4">
                            <div class="row">
                                <div class="col-lg-8">
                                </div>
                                <div class="col-lg-4">
                                    <button id="create" class="btn btn-primary w-100 bglocalcolor" type="submit">
                                        <span> Add </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>






