@model ProjectX.Entities.Models.Package.PackGetResp



<div class="content" pgtype="view">
	<div class="container-fluid" style="padding:10px 0">
		<div class="row mb-3">
			<div class="col-md-12 ">
				<div class="card h-100 ">
					<div class="card-header custom">
						<h4 class="card-title ">
							<i class="fa fa-arrow-alt-circle-left pointercursor" onclick="history.back()"></i>
							<span>New Package</span>
						</h4>
					</div>
					<div class="card-body">
						<div class="row">
							<div id="divinfo" class="col-lg-12">
								<div class="row">
									<div class="form-group mb-3 col-lg-4">
										<label for="name">Name</label>
										<input type="text" class="form-control" id="name" name="name" placeholder="Name" required>
									</div>

									<div class="form-group mb-3 col-lg-4">
										<label for="product_id">Product</label>
										<select class="form-control isselect2" id="product_id" name="product_id" required>
											<option value="">Select Product</option>
											@foreach (var thislist in Model.loadedData.products)
											{
												<option value="@thislist.LK_ID"> @thislist.LK_TableField</option>
											}

										</select>
									</div>

									<div class="form-group mb-3 col-lg-4">
										<label for="zone_id">Zone</label>
										<select class="form-control isselect2" id="zone_id" name="zone_id" required>
											<option value="">Select Zone</option>
											@foreach (var thislist in Model.loadedData.zones)
											{
												<option value="@thislist.LK_ID"> @thislist.LK_TableField</option>
											}
										</select>
									</div>

									<div class="form-group mb-3 col-lg-4">
										<label for="remove_deductible">
											Remove Deductible up to
										</label>
										<input type="number" class="form-control" id="remove_deductible" name="remove_deductible" placeholder="Maximum Age">
									</div>
									<div class="form-group mb-3 col-lg-4">
										<div class="form-group mb-0">
											<div class="form-check">
												<input class="form-check-input" type="checkbox" id="pa_included" autocomplete="off">
												<label class="form-check-label" for="pa_included">
													PA Included
												</label>
												<br />

												<input class="form-check-input" type="checkbox" id="special_case" autocomplete="off">
												<label class="form-check-label" for="special_case">
													Special Case
												</label>
											</div>
										</div>
									</div>
									<div class="form-group mb-3 col-lg-4">
									</div>
									<div class="form-group mb-3 col-lg-4">
										<label for="adult_no">Adult No</label>
										<input type="number" class="form-control" id="adult_no" name="adult_no" placeholder="Adult No">
									</div>
									<div class="form-group mb-3 col-lg-4">
										<label for="adult_max_age">Adult Max Age </label>
										<input type="number" class="form-control" id="adult_max_age" name="adult_max_age" placeholder="Adult Max Age">
									</div>
									<div class="form-group mb-3 col-lg-4">
									</div>
									<div class="form-group mb-3 col-lg-4">
										<label for="children_no">Children No</label>
										<input type="number" class="form-control" id="children_no" name="children_no" placeholder="Children No">
									</div>
									<div class="form-group mb-3 col-lg-4">
										<label for="child_max_age">Child Max Age</label>
										<input type="number" class="form-control" id="child_max_age" name="child_max_age" placeholder="Child Max Age">
									</div>

								</div>
							</div>


						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="card card-body">
					<div class="row">
						<div class="col-lg-8">
						</div>
						<div class="col-lg-4">
							<div class="row">
								<div class="col-lg-8">
								</div>
								<div class="col-lg-4">
									<button id="create" class="btn btn-primary w-100 bglocalcolor" type="submit">
										<span> Add </span>
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>






