.addnewbtn {
    height: 26px
}


.panel.with-nav-tabs {
    border-color: #ddd;
    border-width: 1px;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: none;
    padding-top: 10px;
}

    .panel.with-nav-tabs .nav-tabs {
        border-bottom-color: #ddd;
        margin-bottom: 0;
        height: 33px;
    }

        .panel.with-nav-tabs .nav-tabs > li {
            margin-bottom: -1px;
        }

            .panel.with-nav-tabs .nav-tabs > li > a {
                border-radius: 0;
                background-color: transparent;
                color: #333;
                margin-right: 0px;
                font-size: 15px;
            }





@media (max-width: 760px) {
    .panel.with-nav-tabs .nav-tabs > li > a {
        font-size: 13px;
        padding: 0.6rem 1rem;
    }
}

@media (max-width: 670px) {
    .panel.with-nav-tabs .nav-tabs > li > a {
        font-size: 12.5px;
        padding: 0.6rem 0.7rem;
    }
}

@media (max-width: 600px) {
    .panel.with-nav-tabs .nav-tabs > li > a {
        font-size: 12.0px;
        padding: 0.6rem 0.6rem;
    }
}


@media (max-width: 450px) {
    .panel.with-nav-tabs .nav-tabs > li > a {
        font-size: 12.0px;
        padding: 0.6rem 0.7rem;
    }
}

@media (max-width: 400px) {
    .panel.with-nav-tabs .nav-tabs > li > a {
        font-size: 12.0px;
        padding: 0.6rem 0.65rem;
    }
}


@media (max-width: 370px) {
    .panel.with-nav-tabs .nav-tabs > li > a {
        font-size: 11.5px;
        padding: 0.6rem 0.5rem;
    }
}













.panel.with-nav-tabs .nav-tabs > li > a:hover,
.panel.with-nav-tabs .nav-tabs > li > a:focus {
    background-color: #e7e7e7;
    color: #333;
}

.panel.with-nav-tabs .nav-tabs > li.active > a,
.panel.with-nav-tabs .nav-tabs > li.active > a:hover,
.panel.with-nav-tabs .nav-tabs > li.active > a:focus {
    background-color: #fff;
    color: #333;
    border: none;
    border-bottom-color: transparent;
}

.nav-tabs li a.active {
    border-bottom: 2px solid var(--third-color) !important;
    background: var(--third-color) !important;
    color: white !important;
}



.panel.with-nav-tabs .tab-pane {
    padding: 10px;
    background-color: #fff;
    /*border: 1px solid #ddd;*/
    border-top: none;
}

.tab-content {
    padding: 0;
}


.nav-tabs > li > a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 12px 12px 0 0 !important;
}




.card.sticky-top {
    z-index: 200 !important
}


#destinationtbl td, #destinationtbl th {
    font-size: 12px
}

.beneficiary-table td, .beneficiary-table th {
    font-size: 12px
}

#destinationtbl tr td:first-child {
    white-space: pre-line !important;
}

#destinationtbl tr th:not(:first-child), #destinationtbl tr td:not(:first-child) {
    text-align: center;
}


.result .card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
}

.result table th, .result table td {
    font-size: 13px !important;
    width: 20px;
    max-width: 50px;
}

    .result table td:first-child {
        /*white-space: pre-line !important;*/
    }

.result table select {
    min-width: 50px;
}

.quotecontainer {
    display: none;
}

.result.load .quotecontainer {
    display: none;
}

.result.load .loadersize {
    display: block
}

.result .quotecontainer {
    display: block;
}

.result .loadersize {
    display: none
}

.quotecontainer {
    min-height: 25px;
}

    .quotecontainer .validatemsg {
        color: red
    }


#searchDropdownContent span {
    -webkit-user-select: none; /* For Safari */
    -moz-user-select: none; /* For Firefox */
    -ms-user-select: none; /* For Internet Explorer/Edge */
    user-select: none;
}

.totaltable td {
    padding: 5px
}

    .totaltable td:first-child {
        background: #edf0f7;
        border-color: white;
        width: 50%;
        min-width: 50%;
        max-width: 50%;
    }



.quotecontainer .form-control {
    height: 1.8rem;
}

.quoatetable td, .quoatetable th {
    padding: 10px;
}

.cancelled-row, .cancelled-row:hover {
    background-color: rgb(176 231 246 ) !important;
    /* background-color: var(--third-color) !important; */
    color: #6c7584 !important;
}


tr.cancelled-row td .fas.fa-eye, tr.cancelled-row td .fas.fa-eye:hover {
    /*color: #d5d5d5 !important;*/
}

tr.cancelled-row td .fas.fa-book, tr.cancelled-row td .fas.fa-book:hover {
    /*color: #d5d5d5 !important;*/
}

tr.cancelled-row td .fas.fa-times, tr.cancelled-row td .fas.fa-times:hover {
    /*color: #d5d5d5 !important;*/
}
