hr {
    margin: 0rem 0 0.75rem 0;
}

h4 {
    margin-bottom: .5rem;
}


.casetitle {
    color: darkgreen;
    font-weight: bold;
}

/*
#calls th,td {
    text-align:center
}*/

#customaccorheadingThree {
    width: 100%;
    border-radius: 20px;
    padding: 10px 10px 0px 30px;
    margin: 0 15px 15px 15px;
}

.expertshadow {
    box-shadow: 0px 0px 5px 1px grey;
}

.select2-container--default .select2-selection--single {
    background-color: #fff;
    border: 1px solid #e2e7f1;
    border-radius: 4px;
    height: 30px;
}

#chkexgracia {
    margin-top: 2px;
    margin-left: 5px;
    font-size: 29px;
    width: 25px;
    height: 25px;
}

#withAttachments {
    margin-top: 4px;
    margin-left: 5px;
    font-size: 29px;
    width: 20px;
    height: 20px;
}
#withAttachmentsLabel {
    margin-top: 6px;
    margin-left: 35px;
    
}