@model ProjectX.Entities.Models.Product.ProdGetResp
@{
    //var filldata = ViewData["filldata"] as ProjectX.Entities.Models.General.LoadDataResp;
}


<div class="content" pgtype="view">
    <div class="container-fluid" style="padding:10px 0">
        <div class="row mb-3">
            <div class="col-md-12 ">
                <div class="card h-100 ">
                    <div class="card-body">
                        <h4 class="card-title ">
                            <i class="fa fa-arrow-alt-circle-left pointercursor" onclick="history.back()"></i>
                             <span>New </span>
                        </h4>
                        <hr />
                        <div class="row">
                            <div id="divinfo" class="col-lg-12">
                                <div class="row">
                                    <div class="form-group mb-3 col-lg-4">
                                        <label for="title">Title</label>
                                        <input type="text" class="form-control" id="title" name="title" required="">
                                    </div>
                                    <div class="form-group mb-3 col-lg-4">
                                        <label for="description">Description</label>
                                        <input type="text" class="form-control" id="description" name="description">
                                    </div>
                                    <div class="form-group mb-3 col-lg-4">
                                        <label for="activation_date">Activation Date</label>
                                        <input type="date" class="form-control" id="activation_date" name="activation_date" required="">
                                    </div>
                                    <div class="form-group mb-3 col-lg-4">
                                        <label for="is_deductible">Deductible</label>
                                        <input type="number" class="form-control" id="is_deductible" name="is_deductible" step="0.01">
                                    </div>
                                    <div class="form-group mb-3 col-lg-4">
                                        <label for="sports_activities">Sports Activities</label>
                                        <input type="number" class="form-control" id="sports_activities" name="sports_activities" step="0.01">
                                    </div>
                                    <div class="form-group mb-3 col-lg-4">
                                        <label for="additional_benefits">Additional Benefits</label>
                                        <input type="number" class="form-control" id="additional_benefits" name="additional_benefits" step="0.01">
                                    </div>
                                    <div class="form-group mb-3 col-lg-4">
                                        <div class="form-group mb-0">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" id="is_family" autocomplete="off">
                                                <label class="form-check-label" for="is_family">
                                                    Is Family
                                                </label>
                                                <br>
                                                <input class="form-check-input" type="checkbox" id="is_active" autocomplete="off">
                                                <label class="form-check-label" for="is_active">
                                                    Is Active
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card card-body">
                    <div class="row">
                        <div class="col-lg-8">
                        </div>
                        <div class="col-lg-4">
                            <div class="row">
                                <div class="col-lg-8">
                                </div>
                                <div class="col-lg-4">
                                    <button id="create" class="btn btn-primary w-100 bglocalcolor" type="submit">
                                        <span> Add </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>






