@model ProjectX.Entities.Models.Tariff.TariffGetResp
@{
	var filldata = ViewData["filldata"] as ProjectX.Entities.Models.General.LoadDataResp;
}


<div class="content" pgtype="view">
	<div class="container-fluid" style="padding:10px 0">
		<div class="row mb-3">
			<div class="col-md-12 ">
				<div class="card h-100 ">
					<div class="card-header custom">
						<h4 class="card-title ">
							<i class="fa fa-arrow-alt-circle-left pointercursor" onclick="history.back()"></i>
							<span>New Tariff</span>
						</h4>
					</div>
					<div class="card-body">
						<div class="row">
							<div id="divinfo" class="col-lg-12">
								<div class="row">

									<!-- idPackage -->
									<div class="form-group mb-3 col-lg-4">
										<label for="idPackage">Package</label>
										<select class="form-control isselect2" id="idPackage" name="idPackage" required>
											<option value="">Select Package</option>
											@foreach (var thislist in filldata.loadedData.packages)
											{
												<option value="@thislist.LK_ID"> @thislist.LK_TableField</option>
											}
										</select>
									</div>

									<!-- idPlan -->
									<div class="form-group mb-3 col-lg-4">
										<label for="idPlan">Plan</label>
										<select class="form-control isselect2" id="idPlan" name="idPlan" required>
											<option value="">Select Plan</option>
											@foreach (var thislist in filldata.loadedData.plans)
											{
												<option value="@thislist.LK_ID"> @thislist.LK_TableField</option>
											}
										</select>
									</div>

									<!-- start_age -->
									<div class="form-group mb-3 col-lg-4">
										<label for="start_age">Start Age</label>
										<input type="number" class="form-control" id="start_age" name="start_age" required>
									</div>

									<!-- end_age -->
									<div class="form-group mb-3 col-lg-4">
										<label for="end_age">End Age</label>
										<input type="number" class="form-control" id="end_age" name="end_age" required>
									</div>

									<!-- number_of_days -->
									<div class="form-group mb-3 col-lg-4">
										<label for="number_of_days">Number of days</label>
										<input type="number" class="form-control" id="number_of_days" name="number_of_days" required>
									</div>

									<!-- price_amount -->
									<div class="form-group mb-3 col-lg-4">
										<label for="price_amount">Gross Premium</label>
										<input type="number" class="form-control" id="price_amount" name="price_amount" step="0.01" required>
									</div>

									<!-- net_premium_amount -->
									<div class="form-group mb-3 col-lg-4">
										<label for="net_premium_amount">Net Premium Amount</label>
										<input type="number" class="form-control" id="net_premium_amount" name="net_premium_amount" step="0.01" required>
									</div>

									<!-- pa_amount -->
									<div class="form-group mb-3 col-lg-4">
										<label for="pa_amount">PA Amount</label>
										<input type="number" class="form-control" id="pa_amount" name="pa_amount" step="0.01">
									</div>

									<!-- Override_Amount -->
									<div class="form-group mb-3 col-lg-4">
										<label for="Override_Amount">Override Amount</label>
										<input type="number" class="form-control" id="Override_Amount" name="Override_Amount" step="0.01">
									</div>

									<!-- tariff_starting_date -->
									<div class="form-group mb-3 col-lg-4">
										<label for="tariff_starting_date">Starting Date</label>
										<input type="date" class="form-control" id="tariff_starting_date" name="tariff_starting_date" required>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="card card-body">
					<div class="row">
						<div class="col-lg-8">
						</div>
						<div class="col-lg-4">
							<div class="row">
								<div class="col-lg-8">
								</div>
								<div class="col-lg-4">
									<button id="create" class="btn btn-primary w-100 bglocalcolor" type="submit">
										<span> Add </span>
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>






