@*@model ProjectX.Entities.Models.General.LoadDataResp *@
@{
    var pass = ViewData["pass"] as string??"";

}
<!DOCTYPE html>
<html>
<head>
  <title>Change Password</title>
</head>
<body>
  <h2>Password Reset</h2>
  <form>
      <div class="col-lg-3 mb-lg-0 mb-6">
    <input type="password" class="form-control" id="old-password" name="old-password" placeholder="Old Password" value="@pass" required><br><br>
    </div>
    <div class="col-lg-3 mb-lg-0 mb-6">
    <input type="password" class="form-control" id="new-password" name="new-password" placeholder="New Password" required><br><br>
    </div>
   
    <div class="col-lg-3 mb-lg-0 mb-6">
    <input type="password" class="form-control" id="confirm-password" name="confirm-password" placeholder="Confirm Password" required><br><br>
    </div>
    <div class="col-lg-3 mb-lg-0 mb-6">

    <input type="submit" class="btn btn-primary btn-block bglocalcolor" value="Reset" onclick="resetpassword()">
    </div>
 
</form>
</body>
</html>