@*@model ProjectX.Entities.Models.General.LoadDataResp*@
@{
	var UserRights = ViewData["userrights"] as ProjectX.Entities.Models.Users.UserRights;

	string thisproing = ViewData["thispring"] as string;
}

<div class="content">
	<!-- Start Content-->
	<div class="row page-title prodadm" prodadm="@(UserRights.Is_Admin.HasValue && UserRights.Is_Admin.Value ? "1" : "0")">

		<div class="col-md-12">
			@*<span class="pointercursor">
					<a href="~/product/create/">
						<i class="fas fa-plus-circle addnew pointercursor float-right"></i>
					</a>
				</span>*@
			<a class="btn bglocalcolor float-right addnewbtn" href="~/production/create/">
				<i class="fas fa-plus-circle"></i> New Policy
			</a>
			<h4 class="mb-0 mt-0 float-left">Production</h4>

		</div>
	</div>
	<div class="container-fluid " style="padding:10px 0">


		<div id="pdf">
			<object width="100%" height="100%" type="application/pdf" data="data:application/pdf;base64,@thisproing" id="pdf_content">
				<p>Insert your error message here, if the PDF cannot be displayed.</p>
			</object>
		</div>


		@thisproing


		<div class="row">
			<div class="col-md-12">
				<div class="panel with-nav-tabs panel-default">
					<div class="panel-heading">
						<ul class="nav nav-tabs">
							<li><a href="#tab1default" data-toggle="tab" class="active">All</a></li>
							<li><a href="#tab2default" data-toggle="tab">Valid</a></li>
							<li><a href="#tab3default" data-toggle="tab">Pending</a></li>
							<li><a href="#tab3default" data-toggle="tab">Cancelled</a></li>
							<li><a href="#tab3default" data-toggle="tab">Expired</a></li>
						</ul>
					</div>
					<div class="panel-body">
						<div class="tab-content">
							<div class="tab-pane fade in active show" id="tab1default">
								<div class="row tablediv">
									<div class="col-lg-12">
										<div class="card">
											<div id="searchform" class="card-body">

												<div id="searchform">
													<div class="row mb-6">
														<div class="col-lg-3 mb-lg-0 mb-6">
															<label>Reference:</label>
															<input id="referencename" type="text" class="form-control datatable-input" placeholder="Reference" data-col-index="0" autocomplete="off">
														</div>
														<div class="col-lg-3 mb-lg-0 mb-6">
															<label>Beneficiary:</label>
															<input id="beneficiaryname" type="text" class="form-control datatable-input" placeholder="Beneficiary" data-col-index="0" autocomplete="off">
														</div>
														<div class="col-lg-3 mb-lg-0 mb-6">
															<label>Passport No:</label>
															<input id="passportno" type="text" class="form-control datatable-input" placeholder="Passport No" data-col-index="0" autocomplete="off">
														</div>
														<div class="col-lg-3">
															<div class="row mt-4">
																<div class="col-sm-6">
																	<button class="btn bglocalcolor" id="search" style="width:100%">
																		<span>
																			<i class="la la-search"></i>
																			<span>Search</span>
																		</span>
																	</button>&nbsp;&nbsp;
																</div>
																<div class="col-sm-6">
																	<button class="btn btn-info resetdiv" id="kt_reset" style="width:100%">
																		<span>
																			<i class="la la-close"></i>
																			<span>Reset</span>
																		</span>
																	</button>
																</div>
															</div>
														</div>

													</div>
												</div>

												<table id="productiontable" class="table dt-responsive nowrap table compact table-hover table-flush table-striped table-bordered" style="width:100%; ">
												</table>

											</div>
										</div>
									</div>
								</div>



							</div>
							<div class="tab-pane fade" id="tab2default">Default 2</div>
							<div class="tab-pane fade" id="tab3default">Default 3</div>
							<div class="tab-pane fade" id="tab4default">Default 4</div>
							<div class="tab-pane fade" id="tab5default">Default 5</div>
						</div>
					</div>
				</div>
			</div>

		</div>






		<div class="modal modal-popup" id="view-policy" role="dialog" aria-labelledby="addContactLabel" aria-hidden="true">
			<div class="modal-dialog  modal-full">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="addLabel"> View Policy</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="false">×</span>
						</button>
					</div>
					<div class="scrolly">
						<div class="modal-body">
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>


<div id="confirm-email-approval" class="modal fade" data-backdrop="static" data-keyboard="false">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLongTitle">Confirm Cancellation</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				Are you sure you want to cancel this record?
			</div>
			<div class="modal-footer">
				<button type="button" class="btn  bglocalcolor border" data-dismiss="modal">Close</button>
				<div id="thisloader" class="smloader hide"></div>
				<button id="confirmdeletebtn" type="button" class="btn btn-danger">Proceed</button>
			</div>
		</div>
	</div>
</div>
@*<script src="~/countryflags/js/intlTelInput.js"></script>
	<script src="~/Content/assets/js/profile.js" asp-append-version="true"></script>*@
