@model ProjectX.Entities.Models.Zone.ZoneGetResp
@{
	var filldata = ViewData["filldata"] as ProjectX.Entities.Models.General.LoadDataResp;
}

<div class="content" pgtype="view">
	<div class="container-fluid" style="padding:10px 0">
		<div class="row mb-3">
			<div class="col-md-12 ">
				<div class="card h-100 ">
					<div class="card-header custom">
						<h4 class="card-title ">
							<i class="fa fa-arrow-alt-circle-left pointercursor" onclick="history.back()"></i>
							<span>New Zone </span>
						</h4>
					</div>
					<div class="card-body">
						<div class="row">
							<div id="divinfo" class="col-lg-12">
								<div class="row">

									<div class="form-group mb-3 col-lg-4">
										<label for="Z_Title">Title</label>
										<input type="text" class="form-control" id="Z_Title" name="Z_Title" required="">
									</div>



									<div class="form-group mb-3 col-lg-12">
										<label for="Z_Destination_Id">Destination</label>
										<ul class="tree-list">
											@foreach (var continentId in filldata.loadedData.destinations.Select(x => x.D_IdContinent).Distinct())
											{
												var destinations = filldata.loadedData.destinations.Where(x => x.D_IdContinent == continentId).ToList();

												<li class="expandable">
													<span class="arrow"></span>
													<label>
														<input type="checkbox" class="parent-checkbox" id="checkbox_@continentId" value="0">
														@destinations.First().D_Continent
													</label>
													<ul>
														@foreach (var destination in destinations)
														{
															<li>
																<label>
																	<input type="checkbox" id="checkbox_@(continentId)_@destination.D_Id" value="@destination.D_Id" onchange="checkContinent(this, @continentId)">
																	@destination.D_Destination
																</label>
															</li>
														}
													</ul>
												</li>
											}
										</ul>
									</div>





								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="card card-body">
					<div class="row">
						<div class="col-lg-8">
						</div>
						<div class="col-lg-4">
							<div class="row">
								<div class="col-lg-8">
								</div>
								<div class="col-lg-4">
									<button id="create" class="btn btn-primary w-100 bglocalcolor" type="submit">
										<span> Add </span>
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>






